{% extends "base.html" %}
{% load comments_extra %}
{% block main %}
    <h1 class="text-3xl">{{ post.title }}</h1>
    {% include "inclusions/_entry_meta.html" with entry=post %}
    {% include "inclusions/_entry_content.html" with entry=post %}
    {% show_comment_app post %}
{% endblock main %}
{% block right %}
    {% include "inclusions/_toc.html" with toc=post.toc %}
    {% if request.user.is_superuser %}
        <div class="mt-4">
            <a class="inline-flex items-center bg-white dark:bg-gray-800 text-gray-700 dark:text-gray-200 text-sm py-0.5 px-2 border border-gray-400 dark:border-gray-600 rounded-md hover:bg-gray-100 dark:hover:bg-gray-700 transition-colors"
               href="{% url 'admin:posts_post_change' post.id %}">编辑文章</a>
        </div>
    {% endif %}
{% endblock right %}
