<div class="toc">
  <h3 class="text-xl">
    <a href="{{ tutorial.get_absolute_url }}" class="text-gray-900 dark:text-gray-200 hover:text-blue-600 dark:hover:text-blue-300">{{ tutorial.title }}</a>
  </h3>
  <ul>
    {% for material in materials %}
      <li>
        <a href="{% url 'tutorials:material_detail' tutorial.slug material.id %}"
           class="{% if material.id == current.id %}active{% endif %} text-gray-700 dark:text-gray-300 hover:text-blue-600 dark:hover:text-blue-300">{{ material.title }}</a>
      </li>
    {% endfor %}
  </ul>
</div>
