[program:django-dream-blog-huey]
directory={{ project_path }}
command={{ project_venv_path }}/bin/python manage.py run_huey --settings=config.settings.production
autostart=true
startsecs=1
startretries=3
autorestart=unexpected
stopasgroup=true
killasgroup=true
user={{ user }}
environment=DJANGO_READ_DOT_ENV_FILE="yes"