{# Site footer: copyright and links with slate color scheme #}
<footer class="text-sm text-slate-500 dark:text-slate-400 my-10">
  <div class="flex justify-center">
    <a href="https://beian.miit.gov.cn/" target="_blank" class="hover:text-slate-700 dark:hover:text-slate-200 transition-colors">浙ICP备2020042435号-1</a>
  </div>
  <div class="flex justify-center">
    <span class="mr-2">Copyright © 2024</span><span>追梦人物的博客</span>
    <a class="ml-2 text-slate-500 dark:text-slate-400 hover:text-slate-700 dark:hover:text-slate-200 transition-colors"
       href="https://github.com/jukanntenn/django-dream-blog"
       target="_blank">博客源码</a>
  </div>
  <div class="flex justify-center space-x-3">
    <a class="hover:text-slate-700 dark:hover:text-slate-200 transition-colors"
       href="{% url 'sitemap' %}">Sitemap</a>
    <a class="hover:text-slate-700 dark:hover:text-slate-200 transition-colors"
       href="{% url 'rss' %}">RSS</a>
  </div>
</footer>
