{% load static %}
<div class="mt-5 flex {% if not comment.is_root %}pl-14{% endif %}"
     id="{{ comment.anchor }}">
    <div class="shrink-0">
        <img class="rounded-sm"
             width="48"
             height="48"
             alt=""
             src="{{ comment.user.social_avatar_url }}" />
    </div>
    <div class="ml-2 min-w-0 w-full">
        <div>
            <span class="text-gray-900 dark:text-gray-100 font-medium">{{ comment.user.name }}</span>
            {% if not comment.is_root %}
                <img class="inline dark:invert"
                     height="15"
                     width="15"
                     src="{% static 'share-forward-fill.svg' %}" />
                <span class="text-gray-700 dark:text-gray-300">{{ comment.parent.user.name }}</span>
            {% endif %}
        </div>
        <div class="text-gray-500 dark:text-gray-400 text-sm">{{ comment.submit_date | date:"Y-m-d H:i:s" }}</div>
        <div class="max-w-none prose prose--comment">
            {{ comment.comment_html | safe }}
        </div>
        <div class="mt-1">
            <span class="text-sm text-gray-500 dark:text-gray-400 reply hover:text-blue-600 dark:hover:text-blue-300 cursor-pointer transition-colors" data-cid="{{ comment.pk }}">回复</span>
            <span class="text-sm text-gray-500 dark:text-gray-400 hidden">正在加载评论框...</span>
            <span class="text-sm text-gray-500 dark:text-gray-400 hidden fold hover:text-blue-600 dark:hover:text-blue-300 cursor-pointer transition-colors">收起</span>
        </div>
    </div>
</div>
