<form action="{% url "tree_comments:post" %}"
      method="post"
      class="comment-form">
    {% csrf_token %}
    {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
    <div class="flex">
        <div class="shrink-0">
            <img class="rounded-sm"
                 width="48"
                 height="48"
                 alt=""
                 src="{{ user.social_avatar_url }}" />
        </div>
        <div class="ml-2 min-w-0 w-full">
            <textarea rows="4"
                      class="bg-gray-100 dark:bg-gray-800 rounded-sm border border-gray-400 dark:border-gray-600 leading-normal w-full py-2 px-3 placeholder-gray-700 dark:placeholder-gray-400 focus:outline-hidden focus:bg-white dark:focus:bg-gray-700 text-gray-900 dark:text-gray-100"
                      name="{{ form.comment.html_name }}"
                      id="{{ form.comment.id_for_label }}"
                      placeholder="留下你的评论"
                      required></textarea>
            <div class="w-full flex items-center md:w-full">
                <div class="flex items-start w-1/2 text-gray-700 dark:text-gray-300 px-2 mr-auto">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         class="w-5 h-5 text-gray-600 dark:text-gray-400 mr-1"
                         viewBox="0 0 24 24"
                         fill="currentColor">
                        <path fill="none" d="M0 0h24v24H0z"></path>
                        <path d="M3 3H21C21.5523 3 22 3.44772 22 4V20C22 20.5523 21.5523 21 21 21H3C2.44772 21 2 20.5523 2 20V4C2 3.44772 2.44772 3 3 3ZM4 5V19H20V5H4ZM7 15.5H5V8.5H7L9 10.5L11 8.5H13V15.5H11V11.5L9 13.5L7 11.5V15.5ZM18 12.5H20L17 15.5L14 12.5H16V8.5H18V12.5Z">
                        </path>
                    </svg>
                    <p class="text-xs md:text-sm">支持 Markdown 语法</p>
                </div>
                <div>
                    <button class="bg-white dark:bg-gray-800 text-gray-700 dark:text-gray-200 py-1 px-4 border border-gray-400 dark:border-gray-600 rounded-lg tracking-wide hover:bg-gray-100 dark:hover:bg-gray-700 transition-colors"
                            type="submit">提交评论</button>
                </div>
            </div>
        </div>
    </div>
</form>
