{% extends "base.html" %}
{% load tutorials_extra tree_comments_extra %}
{% block left %}
    {% show_tutorial_toc material.tutorial material %}
{% endblock left %}
{% block main %}
    <h1 class="text-3xl">{{ material.title }}</h1>
    {% include "inclusions/_entry_meta.html" with entry=material %}
    {% include "inclusions/_entry_content.html" with entry=material %}
    {% show_comments material %}
{% endblock main %}
{% block right %}
    {% include 'inclusions/_toc.html' with toc=material.toc %}
{% endblock right %}
