{% extends "base.html" %}
{% load columns_extra %}
{% block main %}
  <h1 class="text-3xl">{{ column.title }}</h1>
  <div class="mt-3">{{ column.excerpt }}</div>
  <div class="mt-3">{{ column.num_articles }} 篇文章</div>
  <div class="mt-10">
    {% for article in articles %}
      <div class="mt-10 first:mt-0">
        <h2 class="text-2xl">
          <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
        </h2>
        {% include "inclusions/_entry_meta.html" with entry=article %}
      </div>
    {% empty %}
      <p>暂无专栏文章</p>
    {% endfor %}
  </div>
{% endblock main %}
