{% load socialaccount static %}
<div class="my-10 flex content-start">
        <span class="text-small text-muted mr-3">登录后回复</span>
        <a href="{% provider_login_url 'github' %}?next={{ request.get_full_path }}">
                <img alt="" height="24" width="24" src="{% static 'github-fill.svg' %}" />
        </a>
        <a class="ml-3"
           href="{% provider_login_url 'weibo' %}?next={{ request.get_full_path }}">
                <img alt="" height="24" width="24" src="{% static 'weibo-fill.svg' %}" />
        </a>
</div>
