---
# Usage:
#   ANSIBLE_STDOUT_CALLBACK=yaml ansible-playbook -i devops/ansible/hosts.yml devops/ansible/site.yml -K --vault-password-file ~/.ansible-vault/django-dream-blog.pwd

- name: Site deployment
  hosts: abj
  remote_user: alice
  roles:
    - role: caddy
      become: true
      become_method: sudo
      tags: caddy

    - role: supervisor
      become: true
      become_method: sudo
      tags: supervisor

    - role: project
      tags: project
